.whyContainer {
  margin-bottom: 5rem;
}
.whyContainer h2 {
  font-size: 1.9rem;
  color: #262626;
  margin-bottom: 2rem;
}

.whyContent {
  width: 40%;
}

.whyContainer p {
  color: #606060;
  font-size: 0.9rem;
}
.whyContent h2 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.whyUs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  background-color: #f1f1f1;
}

.whyList {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px; /* Adjust the margin as needed */
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 500;
  color: #266055;
}

.meContent p {
  margin: 2rem 0 2.6rem;
  color: var(--color--light);
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
}

/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 600px) {
  .whyUs {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .whyContent {
    width: 100%;
  }
}
